#!/bin/bash -e

# general
LUMPY_HOME=~/code/lumpy-sv-dev

LUMPY=`which lumpy || true`
SAMBAMBA=`which samtools || true`
SAMBLASTER=`which samblaster || true`

# python 2.7 or newer
# must have pysam, numpy, scipy installed
PYTHON=`which python || true`

# python scripts
PAIREND_DISTRO=$LUMPY_HOME/scripts/pairend_distro.py
BAMGROUPREADS=$LUMPY_HOME/scripts/bamgroupreads.py
BAMFILTERRG=$LUMPY_HOME/scripts/bamfilterrg.py
BAMLIBS=$LUMPY_HOME/scripts/bamlibs.py


# SAMBAMBA=$SCRIPTS_DIR/sambamba
# BEDTOOLS=`which bedtools || true`
# BGZIP=$SCRIPTS_DIR/bgzip
# TABIX=$SCRIPTS_DIR/tabix
# VAWK=$SCRIPTS_DIR/vawk
# PARALLEL=`which parallel || true`
# PYTHON27=/gscmnt/gc2719/halllab/bin/gemini_python # python 2.7 must have pysam installed

# align
# BWA=$SCRIPTS_DIR/bwa
# SAMBLASTER=$SCRIPTS_DIR/samblaster

# sv
# LUMPY=$SCRIPTS_DIR/lumpy
# BEDPETOVCF=$SCRIPTS_DIR/bedpeToVcf
# LUMPYTOBEDPE=$SCRIPTS_DIR/lumpyToBedpe
# SVTYPER=$SCRIPTS_DIR/svtyper

# # re-align
# BAMTOFASTQ=$SCRIPTS_DIR/bamtofastq.py
# MBUFFER=$SCRIPTS_DIR/mbuffer
# BAMHEADRG=$SCRIPTS_DIR/bamheadrg.py
